form{
			padding: 30%;
			padding-top:5%;
		}
fieldset{
	box-shadow: 10px 10px 5px #888888;
}
input{
	box-shadow: 1px 1px 4px #888888;
}
input[type=text], input[type=password] {
	    width: 100%;
	    padding: 12px 20px;
	    margin: 8px 0;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    
		}

input[type=submit],input[type=button] {
		/*box-shadow: 10px 10px 10px */
		font-size: 17px;
		background-color: #4CAF50;
	    color: white;
	    padding: 14px 20px;
	    margin: 8px 0;
	    cursor: pointer;
	    width: 100%;
		}

legend{
			text-align:  center;
			transition: all 3s ease-in-out;
		}
		
#Login:hover,#signup:hover{
			opacity: 0.8;
		}
		
}